.StudentViewAverage {
    margin-top: 2%;
    display: inline-block;
    text-align: center;
    border: 2px solid black;
    font-size: x-large;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 20px;
    background-color: white;
}

#my-p-red{
    color: red;
    display: inline;
}

#my-p-green{
    color: green;
    display: inline;
}