 /*CSS for whole resolutions*/
 .LecturerLayout {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20% 80%;
}

.LecturerLayout>header {
    grid-column: span 6;
    border: 1px solid gray;
    border-top: none;
    border-right: none;
    border-left: none;
}

.LecturerLayout>aside {
    border: 1px solid gray;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

/*CSS for screen resolution with max widht of 1920px*/
@media (max-width: 1920px) {
    .LecturerLayout>main {
        padding: 70px;
        grid-column: span 5;
    }
  }

/*CSS for screen resolution with max widht of 1366px*/
@media (max-width: 1366px) {
    .LecturerLayout>main {
        padding: 30px;
        grid-column: span 5;
    }
  }